body{
    font-family:Sarabun;
    background-color:#4cc9f0
}

h1, h4{
    text-align: center;
    color:white;
}



/*Adding task section*/
.add-task{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items:  center;
  height: 80px;
  width: 330px;
  background-color: white;
  border-radius: 6px;
  margin-top: 30px;
  margin-bottom: 30px;

}

.add-task-button, .update-task-button{
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  height: 25px;
  background-color: #4cc9f0;
  border: None;
  font-family: Sarabun;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.add-task-button{
  width: 40px;
}


.input-wrapper {
--padding: 16px;
--focus-color: black;
position: relative;
display: flex;
align-items: center;
}

input{
padding: var(--padding);
border: 1.5px solid gray;
outline: none;
border-radius: 6px;
margin-right: 4px;
font-size: 14px;
width:200px;
}

.placeholder {
position: absolute;
background-color: white;
color: gray;
left: var(--padding);
padding: 0 4px;
transition: all 0.2s ease-in;
}

input:is(:focus) {
border: 1.5px solid var(--focus-color);
}

input:is(:focus) + .placeholder {
transform: translatey(calc(-1 * var(--padding) - 12px));
font-size: 14px;
color: var(--focus-color);
}

/*task list*/
table {
  margin: auto;
  border-collapse: collapse;
  width: 70%;
}
  
td, th {
  border: 2px solid #c3c3c3;
  text-align: left;
  padding: 8px;
}

.checkbox{
  padding: none;
  width: 20px;
  height: 15px;
  cursor:pointer;
  align-items: top;
}

input[type=checkbox]:checked + label {
  color:black;
  text-decoration: line-through;
}

input[type=checkbox]:checked{
  accent-color: #3ea7c6;
}

  
th{
  font-weight: 500;
}

tr:nth-child(even) {
  background-color: #f0f0f0;
}

tr:nth-child(odd){
  background-color: white;
}

.action-buttons{
  display:flex;
  align-items: top;
}

.delete-button, .modify-button{
  margin-right: 7px;
  background-color:#4cc9f0;
  color: white;
  border: none;
  border-radius: 5px;
  padding-top: 2px;
  cursor: pointer;
}

.modify-button{
  height: 30px;
  font-weight: 500;
}

/*Update section*/
.update-input{
  font-size:14px;
}

.update-task-button{
  width: 50px
}

/*Update section*/
.delete-button:hover, .modify-button:hover, .add-task-button:hover, .update-task-button:hover{
  transition: 0.15s;
  opacity: 70%;
}

.delete-button:active, .modify-button:active, .add-task-button:active, .update-task-button:active{
  transition: 0.15s;
  opacity: 40%;
}