{% extends 'base.html' %}

{% block head %}
<title>TaskNote</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sarabun
:wght@400;500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family
=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
{% endblock %}

{% block body %}
<div class="content">
    <h1>TaskNote</h1>

    <form action="/" method="POST">
        <div class="add-task">

            <div class="input-wrapper">
                <input type='text' name="content" id='content'>
                <label 
                       for='input' 
                       class='placeholder'>
                  Add a Task
                </label>
              </div>

            <input class="add-task-button" type="submit" value="Add">
        </div>
    </form>

    {% if tasks|length < 1 %}
    <h4>Your task list is empty</h4>

    {% else %}
    <table>
        <tr>
            <th>Task </th>
            <th>Date Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <!--return content of each task-->
                <td>
                    <input class="checkbox" type="checkbox">
                    <label "checkbox-content">{{ task.content }}</label>
                </td>
                <!--return date of each task without the time-->
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <div class="action-buttons">
                        <a href="/delete/{{task.id}}">
                            <button class="delete-button">
                                <span class="material-symbols-outlined">
                                delete
                                </span>
                            </button>
                        </a>
                        <br>
                        <a href ="/update/{{task.id}}">
                            <button class="modify-button">
                            Modify
                            </button>
                        <a>
                    </div>
                </td>
            </tr>
    {% endfor %}
    </table>
    {% endif %}
</div>

{% endblock %}