{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sarabun
:wght@400;500&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="content">
    <h1>TaskNote</h1>
    
    <form action="/" method="POST">
        <div class="add-task">

            <div class="input-wrapper">
                <input type='text' name="content" id='content' required ></input>
                <label 
                       for='input' 
                       class='placeholder'>
                  Add a Task
                </label>
              </div>

            <input class="add-task-button" type="submit" value="Add">
        </div>

    {% if tasks|length < 1 %}
    <h4>Your task list is empty for now...</h4>

    {% else %}
    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <!--return content of each task-->
                <td>{{ task.content }}</td>
                <!--return date of each task without the time-->
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href ="/update/{{task.id}}">Update<a>
                </td>
            </tr>
    {% endfor %}
    </table>
    {% endif %}
</div>

{% endblock %}