{% extends 'base.html' %}

{% block head %}
<title>TaskNote</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sarabun
:wght@400;500&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="content" style="font-family:Sarabun;">
    <h1 style="text-align: center">Update Task</h1>


    <form action="/update/{{task.id}}" method="POST">
        <div class="add-task">
            <div class="input-wrapper">
                <input class="update-input" type="text" name="content" id="content" value="{{task.content}}">
            </div>
            <input class="update-task-button" type="submit" value="Update">
        </div>
</div>

{% endblock %}